<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{title}}</title>
  <meta name="description" content="{{description}}" />
  <meta name="author" content="{{author}}" />
  <meta property="og:description"        content="{{first_words}}" />
  <meta property="og:image"              content="{{first_image}}" />
  <meta property="twitter:card"          content="summary" />
  <meta property="twitter:site"          content="{{twitter_handle}}" />
  <meta property="twitter:title"         content="{{title}}" />

  <link rel="stylesheet" href="{{css_relative_path}}css/tufte.css" type="text/css" />
  <link rel="icon" href="/favicon.ico" type="image/png" />
</head>

<body class="staticpage">
    <header>{{article_menu}}</header>
    <h1>{{title}}</h1>
    {{article_content}}

    {{index_content}}
</body>
</html>
