<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="author" content="{{author}}" />
  <meta property="og:url"   content="{{full_url}}" />
  <meta property="og:type"  content="article" />
  <meta property="og:title" content="{{title}}" />
  <link rel="stylesheet" href="{{css_relative_path}}css/tufte.css" type="text/css" />
  <link rel="icon" href="/favicon.ico" type="image/png" /> 
</head>

<body>
  <header>{{article_menu}}</header>
  {{article_content}}
</body>
</html>
